<div class="row">
	<%= form_with model: postcode_area, url: postcode_area_path, id: "postcode_area", class: "col-md-12 mt-5 mb-5" do |f| %>
		<div class="mb-3">
			<%= f.label :postcode, class: "form-label" %>
			<%= f.text_field :postcode, class: "form-control" %>
			<div class="form-text"><%= t("postcode_area.form.input.postcode.help_text") %></div>
		</div>

		<%= f.submit "Submit", class: "btn btn-primary" %>
		<%= link_to "Reset", root_path, class: "btn btn-default" %>
	<% end %>
</div>
