<div class="container mt-5">
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8">
			<h1><%= t("postcode_area.new.heading") %></h1>
			<p><%= t("postcode_area.new.intro") %></p>

			<%= render "form", postcode_area: postcode_area %>

			<% if @result.present? %>
				<div class="card mb-3">
					<div class="card-header">
						<%= t("postcode_area.service_area.result.title", postcode: postcode_area.postcode) %>
					</div>
					<div class="card-body">
						<%= @result %>
					</div>
				</div>
			<% end %>
		</div>

		<div class="col-md-2"></div>
	</div>
</div>
